{deps, [
  {decirest, "*", {git, "git@bitbucket.org:S2HC_johan/decirest.git", {branch, "master"}}},
  {active, ".*", {git, "git://github.com/synrc/active", {tag,"3.3"}}},
  {lager, "3.5.2"},
  ibrowse
]}.

{plugins, [
  {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
  ]}.

  {provider_hooks, [
    {pre, [{compile, {erlydtl, compile}}]}
    ]}.

{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,{parse_transform,lager_transform}]}.


{erlydtl_opts, [
               {doc_root,   "templates"}
  ]}.
