{deps, [
  {cowboy, "2.8.0"},
  jsx,
  {jiffy, "1.0.5"},
  {jesse, "1.5.5"},
  {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {ref, "bbbcc22266e06de4f6049099b4a73cc78d55b7a1"}}},
  lager,
  meck,
  redbug,
  epipe
]}.

{plugins, [
  {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [
  {pre, [{compile, {erlydtl, compile}}]}
]}.

{erl_opts,
  [
    debug_info,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    {parse_transform,lager_transform}
  ]}.


{erlydtl_opts, [
               {doc_root,   "templates"}
  ]}.
