{deps, [
  {cowboy,".*",{git,"git@github.com:ninenines/cowboy.git","2.0.0-rc.4"}},
  {jsx,".*",{git,"https://github.com/talentdeficit/jsx","master"}},
  {jesse,".*",{git,"https://github.com/for-GET/jesse","master"}},
  {erlydtl,".*",{git,"https://github.com/erlydtl/erlydtl","master"}},
  {lager,".*",{git,"https://github.com/basho/lager","master"}}
]}.

{plugins, [
  {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [
  {pre, [{compile, {erlydtl, compile}}]}
]}.

{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,{parse_transform,lager_transform}]}.


{erlydtl_opts, [
               {doc_root,   "templates"}
  ]}.