{deps, [
  {cowboy, "2.10.0"},
  jsx,
  {jiffy, "1.1.1"},
  {jesse, "1.7.11"},
  erlydtl,
  lager,
  meck,
  redbug,
  epipe
]}.

{plugins, [
  {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
  rebar3_format
]}.

{provider_hooks, [
  {pre, [{compile, {erlydtl, compile}}]}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{erl_opts,
  [
    debug_info,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    {parse_transform,lager_transform}
  ]}.

{erlydtl_opts, [
               {doc_root,   "templates"}
  ]}.

{overrides, [
    {add, redbug, [{erl_opts, [nowarn_match_float_zero]}]},
    {add, jesse, [{erl_opts, [nowarn_match_float_zero]}]}
]}.

{format, [
    {files, ["src/*.erl", "test/*.erl"]},
    {formatter, default_formatter},
    {options, #{
                inline_clause_bodies => true,
                inline_simple_funs => true,
                inline_items => none,
                inline_attributes => none,
                inline_fields => none,
                spaces_around_fields => false
            }}
]}.